#zero-button {
  font-size: large;
  margin-top: 270px;
  background-color: rgb(100,100,100);
  border-radius: 7px;
}

#first-button {
  margin-top: 340px;
  font-size: large;
  background-color: rgb(100,100,100);
  border-radius: 7px;
}

#second-button {
  margin-top: 410px;
  font-size: large;
  background-color: rgb(100,100,100);
  border-radius: 7px;
}

#help-button {
  margin-top: 530px;
  font-size: large;
  background-color: rgb(100,100,100);
  border-radius: 7px;
}
